:root {
    --ins-primary: #0074D7;
    --ins-secondary: #81007F;
    --ins-light: #f9f9f9;
    --ins-yellow: rgb(233, 182, 12);
    --ins-grey:rgb(199, 199, 199);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--ins-grey);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, var(--ins-primary), var(--ins-secondary));
    border-radius: 50px;
}

* {
    margin: 0;
    padding: 0;
    /* font-family: 'Urbanist', sans-serif; */
    font-family: 'Poppins', sans-serif;
    
}
body{
    color: rgb(83, 83, 83);
    background: rgb(211,16,213);
background: linear-gradient(90deg, rgba(204, 17, 207, 0.080) 0%, rgba(0, 213, 255, 0.123) 100%);
}
.typed-blue{
    color: #0074D7 !important;
}
.container {
    width: 100%;
    position: relative;
}

.image-fit {
    width: 100%;
}

.common-button {
    text-decoration: none;
    padding: 0.75rem 2.5rem;
    border-radius: 25px;
    border: none;
    background-color: var(--ins-secondary);
    font-weight: bold;
    color: white;
}
.common-button-anim {
    text-decoration: none;
    padding: 0.75rem 2.5rem;
    border-radius: 25px;
    border: none;
    background-color: var(--ins-secondary);
    font-weight: bold;
    color: white;
}

.common-button:hover {
    text-decoration: none;
    padding: 0.75rem 2.5rem;
    border-radius: 25px;
    border: none;
    background-color: var(--ins-primary);
    font-weight: bold;
    color: white;
}
